.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 120px;
  height: auto;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 229, 183);
  color: rgb(118, 164, 85);
  padding: 10px;
}

.navbar-links {
  display: flex;
  margin-right: 20px;
}

.navbar-links span {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.navbar a {
  color: rgb(118, 164, 85);
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.navbar-login-btn {
  color: rgb(45, 66, 32);
  border: 1px transparent;
  background-color: rgba(255, 255, 255, 0.701);
  cursor: pointer;
  text-align: center;
  font-size: 700;
  font-weight: 700;
  text-transform: uppercase; 
  padding: 12px 12px 10px 30px;
  border-radius: 15px;
}